* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

a:link,
a:visited {
    color: white;
    background-color: #6e9ac2;
    text-decoration: none;
    padding: 5dvh 6dvw;
    margin-right: 1dvw;
    margin-left: 1dvw;
}

a:hover,
a:active {
    color: white;
    background-color: orange;
    text-decoration: none;
    padding: 5dvh 6dvw;
    margin-right: 1dvw;
}

a.HellFire:link,
a.HellFire:visited {
    color: white;
    background-color: #6e9ac2;
    text-decoration: none;
    padding: 1dvh 2dvw;
    font-size: 3dvh;
    display: inline-block;
    border-radius: 2dvh;
}

a.HellFire:active,
a.HellFire:hover {
    color: black;
    background-color: orange;
    text-decoration: none;
    padding: 1dvh 2dvw;
    font-size: 3dvh;
    display: inline-block;
    transform: scale(1.05);
}

a.Spider:link,
a.Spider:visited {
    color: white;
    background-color: #6e9ac2;
    text-decoration: none;
    padding: 1dvh 2dvw;
    font-size: 3dvh;
    display: inline-block;
    margin-left: 2dvw;
    border-radius: 2dvh;
}

a.Spider:active,
a.Spider:hover {
    color: white;
    background-color: orange;
    text-decoration: none;
    padding: 1dvh 2dvw;
    font-size: 3dvh;
    display: inline-block;
    transform: scale(1.05);
    margin-left: 2dvw;
}

div.SideBar {
    background-color: #e8e8e8;
    color: black;
    height: 120dvh;
    width: 20vw;
    float: left;
    margin-top: 2dvh;
    padding-top: 1dvh;
    border-radius: 2dvh;
}

div.MainBar {
    background-color: #e8e8e8;
    color: black;
    height: 120dvh;
    width: 50dvw;
    margin-left: 25dvw;
    margin-top: 2dvh;
    padding: 2dvh 2dvw;
    border-radius: 2dvh;
}

.TopBar {
    height: 7dvh;
    width: 98dvw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2dvw;
    background-color: #e8e8e8;
    border-radius: 2dvh;
}

label.SideLogin {
    display: block;
    font-size: 3vh;
    margin-top: 2vh;
    text-align: center;
}

div.row {
    align-items: center;
    margin-bottom: 2dvh;
}

p {
    padding: 2dvh 2dvw;
}
